<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rakshit's Progress Bars App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
    <!--<link rel="stylesheet/less" type="text/css" href="styles.less" />-->
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body ng-app="myApp" ng-controller="MainController">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <div class="container">
        <div>Progress Bars - {{txt1}}</div>
        <div id='chartsContainer' class="chartsContainerCls">
            <div ng-repeat="chrts in comboList">
                <prog-directive ind='{{chrts.ind}}' chartval="{{chrts.keyy}}">{{chrts.keyy}}</prog-directive>
            </div>
        </div>
        <div class="buttonCont">
            <span class="">
                <select id="selectComboList" ng-model="selitem" ng-change="changedValue()" 
            data-ng-options="s.label for s in comboList" required="required" ng-init="selitem='0'" class="selCls">
        </select>
      </span>
            <span ng-repeat="item in buttonArr">
        <button id='but_{{$index}}' data="{{item.keyy}}" data-ng-click="isClicked($event,$index)" class="btnCls">{{item.keyy}}</button>
      </span>
        </div>
        <div ng-view></div>
    </div>
    <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
</body>

</html>